@mixin border-button {
  background-color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: transform 200ms;
  border: solid 1px var(--danger);
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  color: var(--fg);
  line-height: 1.4;
  &:hover,
  &:focus-visible {
    color: var(--neutral-900);
    background-color: var(--danger);
  }

  &:active:not(:disabled) {
    transform: translate(2px, 2px);
  }
}
