@use "variables";
@use "reset";

body {
  color: var(--fg);
  background-color: var(--bg);
  font-family: "Lato";
  font-size: var(--step-0);
  transition: background-color 200ms;
}

#__nuxt {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

:where(a) {
  color: var(--fg-secondary);
  text-decoration-color: var(--fg-secondary);

  &:hover {
    color: var(--fg);
    text-decoration-color: var(--red);
  }
}

.card {
  z-index: 10;
  background-color: var(--bg-secondary);
  box-shadow: var(--shadow-soft);
  border-radius: 0.5rem;
  padding: var(--space-m) var(--space-l-xl);
  transition: background-color 200ms 100ms;
}

.border-button {
  background-color: var(--red);
  display: block;
  width: fit-content;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 0.75rem;

  color: var(--neutral-100);
  line-height: 1.6;
  box-shadow: var(--shadow-strong);
  font-weight: 700;
  font-size: var(--step-0);

  transition:
    background-color 200ms,
    border-color 200ms;

  &:hover,
  &:focus-visible {
    background-color: hsl(from var(--red) h s calc(l * 1.1));

    outline: none;
  }

  &:active {
    background-color: hsl(from var(--red) h calc(s * 0.8) calc(l * 0.7));
  }
}
