@import "variables";
@import "reset";

body {
  color: var(--fg);
  background-color: var(--bg);
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: var(--step-0);
}

main > * {
  width: var(--content-size);
  margin-inline: auto;
  margin-top: var(--space-xl-2xl);
  scroll-margin-top: 4rem;
}

p,
li {
  max-width: 80ch;
}

p + p {
  margin-top: var(--space-s);
}

a {
  color: var(--fg-secondary);
  text-decoration-color: var(--fg-secondary);

  &:hover {
    color: var(--fg);
    text-decoration-color: var(--danger);
  }
}

.card {
  z-index: 10;
  background-color: var(--bg-secondary);
  box-shadow: var(--shadow-soft);
  border-radius: 0.5rem;
  padding: var(--space-m) var(--space-l-xl);
}

.border-button {
  --bg-color: var(--danger);

  background-color: inherit;
  display: block;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 200ms, color 200ms, border-color 200ms;
  border: solid 1px var(--bg-color);
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  color: var(--fg);
  line-height: 1.4;
  box-shadow: var(--shadow-soft);

  &:hover,
  &:focus-visible {
    color: var(--neutral-900);
    background-color: var(--bg-color);
  }

  &:active:not(:disabled) {
    --bg-color: var(--danger-dark);
  }
}
